<h1><%= current_user.name %>'s Dashboard</h1>

<h4>Today is <%=Date.current.strftime("%b %e, %Y")%></h3>

  <p>What would you like to do?</p>

  <div class="container" id="dashboard">
      <div class="col-xs-auto">
        <%= link_to "View Calendars", user_calendars_path(current_user), class: 'btn btn-primary custom', id: 'calendars-index-button' %>
      </div>

      <div class="col-xs-auto">
        <%= link_to "Create a New Calendar", new_user_calendar_path(current_user), class: 'btn btn-primary custom', id: 'new-calendar-button'%>
      </div>

      <div class="col-xs-auto">
        <%= link_to "View All Posts", posts_path, class: 'btn btn-primary custom', id: 'post-index-button'%>
      </div>

      <div class="col-xs-auto">
        <%= link_to "Create a New Post", new_post_path, class: 'btn btn-primary custom', id: 'new-post-button'%>
      </div>
  </div>

  <div id="dashboard-view"></div>
