<h1><%= @calendar.name.titleize %></h1>


<% if @calendar.calendar_admin?(@user) %>
<h3>Add a user to this calendar?</h3>
<%= form_for @calendar do |f| %>
<%= f.collection_select(:user_ids, @users, :id, :name) %>
<%= f.submit "Update Calendar", class: "btn-xs btn-info" %>
<% end %>
<% end %>

<% if @calendar.collaborators? %>
<h3><%= "Collaborators" %></h3>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>


  <% @calendar.users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
  <% end %>
</table>

<% end %>

<h3>Calendar Posts</h3>
<table>
  <tr>
    <th>Rough Drafts</th>
    <th>Finalized Posts </th>
  </tr>

  <tr>
    <% @calendar.posts.drafted do |post| %>
    <td><%= link_to post.title, post_path(post) %></td>
    <% end %>
    <% @calendar.posts.finalized do |post| %>
    <td><%= link_to post.title, post_path(post) %></td>
    <% end %>
  </tr>

</table>
