<h1><%= @calendar.name.titleize %></h1>

<% if collaborators?(@calendar) %>
<h3><%= "Collaborators:" %></h3>
<% end %>

<h4>Add a user to this calendar?</h4>
<%= form_for @calendar do |f| %>
<%= f.collection_select(:user_ids, User.all, :id, :name) %>
<%= f.submit "Add", class: "btn-xs btn-info" %>
<% end %>

<table>
  <tr>
    <th>Rough Drafts</th>
    <th>Finalized Posts </th>
  </tr>

<tr>
  <% @calendar.rough_draft_posts.each do |post| %>
    <td><%= link_to post.title, post_path %></td>
  <% end %>
  <% @calendar.finalized_posts.each do |post| %>
  <td><%= link_to post.title, post_path %></td>
  <% end %>
</tr>

</table>
