<h1 class="center"><%= @calendar.name.titleize %></h1>

<% if @calendar.calendar_admin?(@user) %>

<div class="well center">
<h3>Do you want to delete this calendar?</h3>
  <%= link_to 'Delete', calendar_path(@calendar), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="well">
<h3>Add a user to this calendar?</h3>
  <%= form_for @calendar do |f| %>
  <%= f.collection_select(:user_ids, @users, :id, :name) %>
  <%= f.submit "Update Calendar", class: "btn-xs btn-info" %>
    <% end %>
  <% end %>
</div>


<% if @calendar.collaborators? %>
<div class="well">
<h3><%= "Collaborators" %></h3>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

  <% @calendar.users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
  <% end %>
</table>


<% end %>
</div>

<div class="container">
<h2 class="center">Calendar Posts</h2>

<div class="well">
<h3 class="center">Rough Drafts</h3>
    <% @calendar.rough_draft_posts.each do |post| %>
    <li><%= link_to post.title.titleize, post_path(post) %></li>
    <% end %>
  </div>
  <div class="well">
<h3 class="center">Finalized Posts</h3>
    <% @calendar.finalized_posts.each do |post| %>
    <li><%= link_to post.title.titleize, post_path(post) %> </li>
    <% end %>
  </div>
</div>
