<h1><%= @calendar.name.titleize %></h1>

<% if collaborators?(@calendar) %>
<h3><%= "Collaborators:" %></h3>
<% end %>

<h4>Add a user to this calendar?</h4>
<%= form_for @calendar do |f| %>
<%= f.collection_select(:user_ids, User.all, :id, :name) %>
<%= f.submit "Add", class: "btn-xs btn-info" %>
<% end %>

<h4>Rough Draft Posts</h4>
<% @user.calendars.each do |calendar| %>
  <%= calendar.name %>
  <% calendar.rough_draft_posts.each do |post| %>
    <%= post.title %>
  <% end %>
<% end %>

<h4>Finalized Posts</h4>
