<h1>Scheduled Posts</h1>

<% current_user.calendars.each do |calendar| %>
<h2> <%= calendar.name %> </h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Content</th>
      <th>Link</th>
      <th>Picture</th>
      <th>Platforms</th>
      <th>Finalized</th>
    </tr>
  </thead>

  <tbody>
    <% calendar.calendar_posts.each do |calendar_post| %>
    <tr>
      <td><%= calendar_post.post.title.titleize %> </td>
      <td>  <%= calendar_post.date%> </td>
      <td><%= calendar_post.time %></td>
      <td>  <%= calendar_post.post.content %> </td>
      <td>  <%= calendar_post.post.link %> </td>
      <td>  <%= image_tag(calendar_post.post.picture_url, width: 100) if calendar_post.post.picture.present? %> </td>
      <td>
        <% calendar_post.post.platforms.each do |platform| %>
        <%= platform.name.titleize %> <br>
        <% end %>
      </td>
      <td>  <%= human_boolean(calendar_post.post.finalized) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
