<div class="container">
  <div class="form-field">
    <%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %> <br>
    Title is required.
  </div>

  <div class="form-field">
    <%= f.label :content%>
    <%= f.text_area :content%>
  </div>

  <div class="form-field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="file-field">
    <%= f.label :picture%>
    <%= f.file_field :picture, id: :post_picture%>
  </div>

  <div class="file-field">
    <%= f.label :finalized %>
    <%= f.radio_button :finalized , true%>
    <%= f.label :finalized, "Yes" %>
    <%= f.radio_button :finalized, false %>
    <%= f.label :finalized, "No" %>
  </div>

  <%= f.hidden_field :user_id %> <br>

  <div class="form-field">
    <%= f.fields_for :platform_attributes do |platform| %>
    <%= platform.label :platform, "Social Platforms"%>
    <%= platform.collection_check_boxes :platform_ids, Platform.all, :id, :name %> <br> <br>
  </div>
  <div>
    <h4> Or Create a new platform: </h4>
    <%= platform.label :platform, 'New Platform'%>
    <%= platform.text_field :name%> <br> <br>
  </div>
  <% end %>


  <%= f.submit%>

  <% end %>
</div>
