<div>
<table>
  <tr>
<th>Title:</th>
<td><%= @post.title %></td>
</tr>

<tr>
<th>Content:</th>
  <td><%= @post.content %></td>
</tr>

<tr>
<th>Link:</th>
  <td><%= @post.link %></td>
</tr>
<tr>
<th>Finalized:</th>
  <td><%= @post.finalized %></td>
</tr>
<tr></tr>
<th>Picture:</th>
  <td><%= image_tag(@post.picture_url, width: 200) if @post.picture.present? %></td>
</tr>

  <th>Platforms:</th>
<% @post.platforms.each do |platform| %>
<tr><%= platform.name %></tr>
<% end %>
</table>
</div>


<h3><%= link_to "Edit Post", edit_post_path(@post) %></h3>

<div class="form-group row">
  <%= form_for @calendar_posts, url: { action: "schedule_post"} do |f| %>
  <%= f.label :calendar, "Your Calendars", class: "col-sm-2 col-form-label"%>
  <%= f.collection_select :calendar_ids, @calendars, :id, :name %> <br> <br>
  <%= f.label :date, class: "col-sm-2 col-form-label" %>
  <%= f.date_select :date %>
  <%= f.label :time, class: "col-sm-2 col-form-label"%>
  <%= f.date_select :time %>
  <% end %>


</div>
