
<h3></h3>Title:</h3>
<%= @post.title %>  <br> <br>

<h3>Content:</h3>
<%= @post.content %> <br> <br>

<h3>Link:</h3>
<%= @post.link %>  <br> <br>
<h3>Finalized:</h3>
<%= human_boolean(@post.finalized) %>  <br> <br>

<h3>Picture:</h3>
<%= image_tag(@post.picture_url, width: 200) if @post.picture.present? %>  <br> <br>

<h3>Platforms:</h3>
<% @post.platforms.each do |platform| %>
<%= platform.name %>
<% end %>

<br> <br>

<%= link_to "Edit Post", edit_post_path(@post) %>

<br> <br>


  <%= form_for @calendar_posts, url: { action: "schedule_post"} do |f| %>
  <%= f.label :calendar, "Your Calendars:"%>
  <%= f.collection_select :calendar_id, @calendars, :id, :name %> <br> <br>
  <%= f.label :date, "Date:"%>
  <%= f.date_select :date %> <br>
  <%= f.label :time, "Time:"%>
  <%= f.time_select :time %>  <br>
  <%= f.hidden_field :post_id %>
  <%= f.submit "Schedule Post", class: "btn btn-sm btn-info"%>
  <% end %>
